.header {
    margin: 0 0 40px 0;

    h1 {
        margin: 0;

        a {
            color: var(--black);
            text-decoration: underline;
            text-decoration-color: transparent;
            transition: text-decoration-color 0.3s ease;

            &:hover {
                text-decoration-color: var(--black);
            }
        }
    }
}
