.post-comment {
    break-inside: avoid;
    margin-bottom: 30px;

    @include mobile {
        flex: 0 0 100%;
        padding: 0;
    }

    p {
        @include font-size(16);
        margin: 0;
    }

    a {
        @include font-med;
        color: $black;

        &:hover {
            svg {
                fill: rgba($black, 0.65);
            }
        }

        span {
            white-space: nowrap;
        }

        svg {
            display: inline-block;
            width: auto;
            height: 12px;
            margin-left: 5px;
            vertical-align: -2px;
            fill: $black;
            transition: fill 0.3s ease;
        }
    }
}
