/* variables */

:root {
    --white: #FFF;
    --black: #111;
    --text-gray: #777676;
    --text-dark-gray: #0F0F0F;
    --dark-gray: #292929;
    --light-gray: #F7F7F7;
    --yellow: #FFBC0D;
    --red: #db0007;
    --border-gray: #D6D6D6;
}

$base-font-size: 18;
